.table-row {
    border: 2px solid red;
    background-color: grey;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr;
}

.cell {
    border: 2px solid blue;
}
.hide {
    display: none;
}

.subject {
    display: block;
    max-height: 60px;
    overflow: hidden;
}