.table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 0.6fr 0.8fr 1fr 0.8fr 1fr;
        gap: 2px;
}

.table-header {
    background-color: #222222;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
        font-weight: 600;
            height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-header span {
    margin-left: 10px;
}

.table-header img {
    border: 2px solid #ffff;
    background-color: #ffff;
        height: 40%;
    margin-right: 10px;
    padding: 2px;
    border-radius: 50%;
    transition: all ease 0.3s;
}

.table-header img:hover {
    cursor: pointer;
    transform: rotateZ(20deg);
}
.cell {
    min-height: 70px;
        background-color: #b0acac;
        margin-top: 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
}
.hide {
    display: none;
}

.subject {
    max-height: 60px;
    overflow: auto;
}
.row-loading {
    border: 4px solid #dbd6d6;
    margin: 20px;
    border-radius: 50%;
    border-top: 2px solid #3333;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}